<h3><%= current_user.username %> create a new Tweet!</h3>

  <form action='/tweets' method="post">
    <label for="name">Enter Tweet Here: </label>
    <input type="text" name="content"><br><br>

    <input type="submit" name="submit" value="submit">

  </form>
<br>
  <a href="/tweets">Go back</a> to Tweet Feed


