<% if logged_in? %>
<h1>What's on your mind?</h1>

  <form action='/tweets' method="post">
    <input type="text" name="content" placeholder="Tweet">
    <button type="submit" >Save</button>
  </form>

  <form action="/logout" method="GET">
    <button type="submit" >Log Out</button>
  </form>

  <form>
     <input type="button" value="Back to Feed" onclick="window.location.assign('/tweets')">
  </form>

<% else %>
  <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>
