<h1>Log In to Fwitter</h1>

<form action="/login" method="POST">
  <p>
    <label for="username">User Name:</label>
    <input type="text" name="username" id="username" required>
  </p>
    <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
  </p>
  <input type="submit" value="submit">
</form>