<h1>Sign up</h1>
<form action='/signup' method="POST">

  <input id=username type=text name=username>
  <input id=password type=password name=password>
  <input type=submit value="Sign Up">

</form>