<div>
    <h1>Welcome to Fwitter!</h1>

	<div class="actions">

			<input type="button"  value="Log In" onclick="window.location.assign('/login')"/>
    		<input type="button"  value="Sign Up" onclick="window.location.assign('/signup')" />
	
		
	</div>
</div>